@font-face{font-family:monument extended;font-style:normal;font-weight:400;src:local('Monument Extended'),url(https://fonts.cdnfonts.com/s/19595/MonumentExtended-Regular.woff) format('woff')}@font-face{font-family:monument extended;font-style:normal;font-weight:800;src:local('Monument Extended'),url(https://fonts.cdnfonts.com/s/19595/MonumentExtended-Ultrabold.woff)format('woff')}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'gilroy';

}
html body{
     width: 100%;
     height: 100%;
     background-color: rgb(255, 255, 249);
}
body #main{
    width: 100%;
    height: 100%;
    position: relative;
}
#main #navber{
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3vw;
    margin-top: 2vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#navber h1{
    font-family:"monument extended";
    font-size: 45px;
    letter-spacing: -1;
    width: 20%;
    position: relative;
}

#navber h1::after{
    content:"©";
    font-size: 20px;
    position: absolute;
    font-family: 'gilroy';
    font-weight: 70%;
    top:4px;
}
#navber h1::before{
    content:"model management";
    font-size: 13px;
    position: absolute;
    font-family: 'gilroy';
    top:40px;
    left: 40%;
    width: 150px;
    letter-spacing: 1px;
    font-weight: 500;
    color: rgb(69,69,69);
}

#navber h2{
    height: 10vh;
    width: 22%;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

#navber h2:nth-last-child(2){
    width: 26%;
}

#navber h2:nth-last-child(1){
    width: 10%;
}


#main #center{
    height: 550px;
    width: 100%;
    position: relative;
    padding: 3vw;
    overflow: hidden;
}

#center #content{
    width: 100%;
    height: 100%;
}

#content video{
    width: 95%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    justify-content: center;
}
#top{
    width: 100%;
    height: 5vh;
    display: flex;
    position: absolute;
    top: 62%;
    
}

#top h4{
    font-family: "monument extended";
    font-size: 60px;
    letter-spacing: 2px;
    color: white;
    margin-left: 5vh; 
  
}

#top #top-left{
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 50%;
    border-width: 1px 1px 10px 1px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 110vh;
    margin-top: 1vw;
}

#bottom{
 margin-top: 0.1vw;
 border-top: 2px solid white;
 margin-left: 2vw;
 display: flex;
 color: white;
}

#bottom h5{
    font-size: 20px;
    font-weight: 400;
    margin-top: 0.5vw;
}

#bottom h6{
    font-size: 25px;
    font-weight: 300;
    margin-left: 85.5vw;
    margin-top: 0.9vw;
}

#main #scroll{
    width: 100%;
    height: 180px;
    margin-top: 2vw;
}

#scroll #images{
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
}

#images #part{
    width: calc(30vw * 6);
    height: 100%;
    display: inline;
    padding: 1vw; 
    display: flex;
    animation: myanimation 10s linear infinite;
    margin-left: 90vw;
}


#part img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    
}

@keyframes myanimation{
    from{
        transform:translate(0);
    }
    to{
        transform: translate(calc(-50vw * 3));
    }
}

#images::-webkit-scrollbar{
    display: none;
}

#alphabets{
    height: 4vw;
    width: 100%;
 display: flex;
 border-top: 2px solid black;
 border-bottom: 2px solid black;
 align-items: center;
 justify-content: center;
}

#alphabets h2{
    font-style:italic;
    border-bottom: 2px solid black;
    font-weight: 400;
    margin-right: 3.5vw;
}

#alphabets h3{
    font-style:italic;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    margin-right: 1vw;
    padding-left: 0.5vw;
    border-radius: 50%;
}

#alphabets h3:hover{
  border: 2px solid black;
  cursor: pointer;
}

#page1{
    height: 690px;
    width: 100%;
    display: flex;
    gap: 40px;
    padding: 3.5vw;
    padding-bottom: 15px;
}

#page1-right{
    width:40%;
    height: 100%;
}

#page1-left{
    width:60%;
    height: 100%;
}
#page1-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page1-right #right-image{
    height: 70%;
    width: 100%;
}

#right-image img{
width: 100%;
height: 100%;
object-fit: cover;
}

#page1-right #para{
    width: 100%;
    height: 23%;   
}

#para{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

#para #para11{
    font-size: 23px; 
    font-weight: 400;
}

#para #para2{
   font-weight: 400;
}

#heading{
    padding-top: 20px; 
    margin-left: 3.5vw;
    font-size: 30px;
}

#heading #para3{
    font-family:"monument extended";
    font-weight: 530;
}

#page2{
    height: 620px;
    width: 100%;
    display: flex;
    gap: 150px;
    padding: 4vw;
    padding-bottom: 15px;
}

#page2-right{
    width:65%;
    height: 100%;
}

#page2-left{
    width:35%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#page2-left #page2-left-img{
    width: 80%;
    height: 70%;
    justify-content: center;
    z-index: -1;
}

#page2-left-img img{
    width: 65%;
    height: 53%;
    object-fit:fill;
    border-radius: 60% 50% 40% 50%;
    margin-left: 3vw;
    margin-top: 3vw;
    justify-content: center;
    animation: rotation 8s linear infinite;
    position: absolute; 
}

@keyframes rotation{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

#page2-left #page2-para1{
    width: 100%;
    height: 30%;   
}

#page2-left h6{
    top:32%; 
    margin-bottom: 5vw;
    margin-left: 11vw;
    position: absolute;
    font-size: 30px;
    font-weight: 200;
    
}

#page2-para1{
    margin-top: 4vw;
    font-size: 22px;
    font-weight: 500; 
}

#page2-right img{
width: 100%;
height: 100%;
object-fit: cover;
} 

#page3{
    width: 100%;
    height: 550px;
    padding: 4vw;
    padding-bottom: 15px;
}

#page3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#heading1{
    padding-top: 55px; 
    font-size: 36px;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

#heading1 #heading1-para{
    font-family:"monument extended";
    font-weight: 530;
    margin-left: 45vw;
    justify-content: center;
}

#page4{
    width: 95%;
    height: 500px;
    padding: 4vw;
    padding-bottom: 15px;
    margin-left: 3vw;
}

#page4 #page4-1{
    height: 25%;
    width: 100%;
    display: flex;
    margin-top: 2vw;
    border-top: 2px solid black;

}

#para1{
    height: 100%;
    width: 10%;
    margin-top: 2vw;
    font-size: 18px;
}
#page4-1 #img1{
    height: 100%;
    width: 50%;
    margin-top: 1vw;
    position: relative;
}

#img1::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0.3;
  z-index: -1;

}

#img1:hover::before{
    background-image: url(img9.jpg);
    background-size: 110px 110px;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    animation: picanimation 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#page4-1 #img2{
    height: 100%;
    width: 50%;
    margin-top: 1vw;
    position: relative;
}

#img2::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0.3;
  z-index: -1;

}

#img2:hover::before{
    background-image: url(img1.jpg);
    background-size: 110px 110px;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    animation: picanimation 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
#page4-1 #img3{
    height: 100%;
    width: 50%;
    margin-top: 1vw;
    position: relative;
}

#img3::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0.3;
  z-index: -1;

}

#img3:hover::before{
    background-image: url(img2.jpg);
    background-size: 110px 110px;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    animation: picanimation 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
#page4-1 #img4{
    height: 100%;
    width: 50%;
    margin-top: 1vw;
    position: relative;
}

#img4::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0.3;
  z-index: -1;

}

#img4:hover::before{
    background-image: url(img3.jpg);
    background-size: 110px 110px;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    animation: picanimation 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes picanimation{
    from{left:0px;
         opacity: 0;
    }
    to{
        left:400px;
        opacity: 1;
    }
} 

#page4-1 #pg4-para1{
    height: 100%;
    width: 40%;
    margin-top: 2vw;
}
#para1-1{
    font-size: 30px;
    font-weight: 300;
}

#ending{
    height: 8vw;
    width: 87%;
    border-bottom: 2px solid black;
    margin-top: 1.5vw;
    margin-left: 7vw;
}

#page5{
    height: 700px;
    width:100% ;
    padding: 4vw;
    padding-bottom: 15px;
    margin-top: 3vw;
    display: flex;
    gap: 40px;
}

#page5 #page5-left{
  height: 100%;
  width: 50%;
}

#page5-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page5 #page5-right{
    height: 100%;
  width: 50%;
}

#page5-right #pg5-para{
    height: 45%;
    width: 100%;
}

#page5-right #pg5-img{
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#pg5-img #im1{
    height: 100%;
    width: 58%;
    object-fit: cover;
}

#pg5-img #im2{
    height: 100%;
    width: 39%;
    object-fit: cover;
    margin-left: 0.8vw;
}

#pg5-para #pg5-para1{
    font-family:"monument extended";
    font-size: 35px;
    font-weight: 530;
    letter-spacing: 3px;
}

#pg5-para #pg5-para2{
    font-size: 22px;
    font-weight: 540;
    padding-top: 1.5vw;
}

#pg5-para #pg5-para3{
    font-size: 17px;
    font-weight: 450;
    padding-top: 1.8vw;
}

#page6{
    height: 650px;
    width: 100%;
    position: relative;
}

#page6 img{
    width: 99%;
    height: 100%;
    justify-content: center;
    z-index: -1;
    object-fit: cover;
    padding: 40px;
    margin-left: .7vw;
}

#page6 h6{
    top: 9%;
    padding: 9px;
    margin-left: 91vw;
    align-items: center;
    position: absolute;
    font-size: 23px;
    font-weight: 150;
    color: white;
    border: 2px solid white;
    border-radius: 60%;
    height: 2.8vw;
} 

#page7{
    margin-top: 4vw;
    width: 100%;
    height: 70px;
    background-color: white;
    font-size: 40px;  
    word-spacing: 1vw;
    font-weight: 520;
    color:rgb(175, 175, 175) ;
    padding: 10px;
    border-top: 3px solid rgb(200, 193, 193);
    border-bottom: 3px solid rgb(200, 193, 193);
}

#page8{
    width: 95%;
    height: 600px;
    padding: 3vw;
    padding-bottom: 20px;
    margin-left: 0.8vw;
    margin-top: 4vw;
    display: flex;
    gap: 15px;
}


#page8 #pg8-left{
    width: 17%;
    height: 100%;
}

#pg8-left p{
    font-family:"monument extended";
    font-weight: 530;
    font-size: 40px;
}

#page8 #pg8-middle{
    width: 40%;
    height: 100%;
}

#pg8-middle #para-pg8-1{
    width: 100%;
    height: 30%;
    justify-content: space-between;
}

#para-pg8-1{
    justify-content: space-between; 
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#para-pg8-1 #pg8-p1{
  font-size: 18px;
  border: 2px solid black;
  border-radius: 50%;
  width: 12%;
  height: 21%;
  padding-left: 5px;
  padding-top: 5px;
  font-weight: 300;
}

#para-pg8-1 #pg8-p2{
    font-size: 23px;
    font-weight: 549;
    margin-left: -0.5vw;
  }

#pg8-img1{
  padding: 5px;
  width: 100%;
    height: 70%;
    
}
#pg8-img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#bottom-page{
    width: 96%;
    height: 300px; 
    display: flex;
    margin-top: 2vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    margin-left: 2.2vw;
}
#bottom-page h1{
    font-family:"monument extended";
    font-size: 45px;
    letter-spacing: -1;
    width: 30%;
    position: relative;
    padding-top: 2vw;
    padding-left: 4vw;
}

#bottom-page h1::after{
    content:"©";
    font-size: 20px;
    position: absolute;
    font-family: 'gilroy';
    font-weight: 70%;
    top:4px;
    padding-top: 2vw;
}
#bottom-page h1::before{
    content:"model management";
    font-size: 13px;
    position: absolute;
    font-family: 'gilroy';
    top:40px;
    left: 40%;
    width: 150px;
    letter-spacing: 1px;
    font-weight: 500;
    color: rgb(69,69,69);
    padding-top: 2vw;
}

#bottom-page h2{
    height: 42.5vh;
    width: 15%;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    padding-top: 2vw;
}

#bottom-page #col{
    height: 100%;
    width: 40%;
}
#col {
    width: 100%;
    height: 100%;
}

#col p{
    border-bottom: 2px solid black;
    height: 5vw;
    padding-left: 7vw;
    padding-top: 1.5vw;
    font-size: 20px;
    font-weight: 500;
}

#col #logos{
    width: 89%;
    height: 30%;
    display: flex;
    margin-top: 2vw;
    margin-left: 6vw;
   
}
#logos img{
    height:40%;
    width: 40%;
    object-fit: cover;
}

#logos #img-in{
    height:36%;
    width: 6%;
    object-fit: cover;
    margin-top: 0.2vw;
    margin-right: 1.8vw;
    border-radius: 20%;
}



